<div>
    <br>
    <a href="/activities/{{this.id}}" class="list-group-item">
        <div>
            <h3>{{this.title}}</h3>
            <small>{{this.city}}, {{this.country}}</small>
            <small>{{this.email_contact}}</small>
        </div>
    </a>
</div>

