<div class="list-group">
    <br>
    <a href="/guides/{{this.id}}" class="list-group-item"> 
        <div> 
            <h3>{{this.fname}} {{this.lname}}</h3>
            <small>{{this.city}}, {{this.country}}</small>
        </div>
    </a>
</div>
