<div class="list-group">
    <br>
    <a href="/places/{{this.id}}" class="list-group-item">
        <div>
            <h3>{{this.city}}, {{this.country}}</h3>
        </div>
        <small>Number of Guides: {{this.guides}}</small><br>
        <small>Number of Acivities: {{this.activities}}</small>
    </a>
</div>

