<div class="container-fluid">
    <h2>Information</h2>
    <div class="list-group-item">
        <div>
            <h3>{{this.details.fname}} {{this.details.lname}}</h3>
            <small>{{this.details.city}}, {{this.details.country}}</small>
        </div>
        {{#if this.details.review}}
            <small>Average Review: {{this.details.review}}</small>
        {{else}}
            <small>No Reviews</small>
        {{/if}}
    </div>
    <h2>Activities</h2>
    {{#if activities}}
        {{#each activities}}
            <a href="/activities/{{this.id}}" class="list-group-item">
                <div>
                    <h3>{{this.title}}</h3>
                </div>
            </a>
        {{/each}}
    {{else}}
        <h4>No activities listed</h4>
    {{/if}}
    {{#if reviewNumbers}} 
        <h2>Reviews</h2> 
            <table> 
                <tr>
                    <th>username</th>
                    <th>review</th> 
                </tr>
                {{#each reviewNumbers}}
                    <tr>
                        <th>{{this.username}}</th>
                        <th>{{this.rating}}</th>
                    </tr>
                {{/each}}
            </table>
    {{/if}}
    <div class="container-fluid custom-column">
        <h2>Review Guide</h2>
        <p>Your review only counts once. If you submit multiple reviews, only the final review counts toward the average.</p> 
        <form id="review-guide" class="form-group" action="/guides/reviews" method="post">
            <input type="text" name="username" class="form-control" placeholder="Your Username">
            <input type="hidden" name="gid" value="{{this.details.id}}">
            <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="container-fluid custom-column">
        <h2>Delete Your Review</h2>
        <form class="form-group" action="/guides/reviews/delete" method="post">
            <input type="text" name="username" class="form-control" placeholder="Your Username">
            <input type="hidden" name="gid" value="{{this.details.id}}">
            <button type="submit" class="btn btn-default">Delete</button>
        </form>
    </div>
</div>
